<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budżet domowy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

    <style type="text/css">
        body{
            margin-top: 40px;
            margin-right: 70px;
            margin-bottom: 100px;
            margin-left: 70px; }
    </style>

</head>
<body>

    <h4>Menu:</h4><br>

        <a href="/dodaj">dodaj transakcję</a><br/>
        <a href="/przychody">wczytaj przychody</a><br/>
        <a href="/wydatki">wczytaj wydatki</a><br/>

</body>
</html>

